In [68]:
import numpy as np
import pandas as pd

In [69]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import re

In [70]:
def reg(st):
    return re.split("\s\-\s", st)[-1]

In [71]:
train_df = pd.read_excel("Dataset.xlsx")

In [6]:
test_df = pd.read_excel("test.xlsx")

In [6]:
#""""":New= Claimed - Origin"""""
#!New = from PolicyType =>>[1], already have VehicleCategory
#!Modify = !Days_Policy_Accident = Days_Policy_Claim(where 'none')
#!Modify = PastNumberOfClaims = 0(where 'none')
#!Modify = NumberOfSuppliments = 0(where 'none')
# Modify = Age = AgeOfPolicyHolder(where 0 or nan)

In [7]:
# !Label_encode: !Month, !Dayofweek, !DayOfWeekClaimed,!MonthClaimed,!Sex,!Fault,!VehiclePrice,!Deductible,
#              !Days_Policy_Claim, Days_Policy_Accident,PastNumberOfClaims, AgeOfVehicle, AgeOfPolicyHolder, 
#              NumberOfSuppliments, AddressChange_Claim, NumberOfCars, !Year, #AgentType, !WitnessPresent, !PoliceReportFiled
           #    !AccidentArea

In [8]:
#!onehotencpfe: !Make,!MaritalStatus, !BasePolicy,

In [9]:
# !drop: !PolicyNumber, !DriverRating(only nan(6)), !DayOfWeekClaimed(only 0(1))

In [10]:
# numerical: ClaimSize

In [7]:
test_df['FraudFound_P'] = 0

In [8]:
data = pd.concat([train_df, test_df], sort=False)

In [10]:
data.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,ClaimSize
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability,55526.069421
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision,59294.455571
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision,71756.941320
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,7584.153493
4,Feb,1,Saturday,Honda,Urban,Monday,Feb,3,Male,Married,...,36 to 40,No,No,External,1 to 2,no change,1 vehicle,1994,Collision,98545.374339

In [67]:
data['Fault'].head()

0    0
1    0
2    0
3    1
4    1
Name: Fault, dtype: int32

In [11]:
data.reset_index(drop=True, inplace=True)

In [12]:
data.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,ClaimSize
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability,55526.069421
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision,59294.455571
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision,71756.941320
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,7584.153493
4,Feb,1,Saturday,Honda,Urban,Monday,Feb,3,Male,Married,...,36 to 40,No,No,External,1 to 2,no change,1 vehicle,1994,Collision,98545.374339

In [13]:
data["PolicyType"].value_counts()

Sedan - Collision       5584
Sedan - Liability       4987
Sedan - All Perils      4087
Sport - Collision        348
Utility - All Perils     340
Utility - Collision       30
Sport - All Perils        22
Utility - Liability       21
Sport - Liability          1
Name: PolicyType, dtype: int64

In [14]:
data['PolicyType'] = data['PolicyType'].apply(reg)

In [15]:
data["PolicyType"].value_counts()

Collision     5962
Liability     5009
All Perils    4449
Name: PolicyType, dtype: int64

In [17]:
data["PolicyNumber"].value_counts();

In [18]:
data.drop('PolicyNumber', axis=1, inplace=True)

In [21]:
data["AgeOfPolicyHolder"].value_counts()

31 to 35    5593
36 to 40    4043
41 to 50    2828
51 to 65    1392
26 to 30     613
over 65      508
16 to 17     320
21 to 25     108
18 to 20      15
Name: AgeOfPolicyHolder, dtype: int64

In [22]:
data.drop('AgeOfPolicyHolder', axis=1, inplace=True)

In [26]:
data.dropna(subset=['DriverRating'], inplace=True)

In [23]:
data.dropna(subset=['Age'], inplace=True)

In [25]:
data.drop(data[data['DayOfWeekClaimed'] == 0].index, inplace=True)

In [27]:
data.loc[data['Days_Policy_Accident'] == 'none', 'Days_Policy_Accident'] = data.loc[data['Days_Policy_Accident'] == 'none', 'Days_Policy_Claim']

In [28]:
data['PastNumberOfClaims'].where(data['PastNumberOfClaims'] != 'none', other = 0, inplace= True)

In [29]:
data['NumberOfSuppliments'].where(data['NumberOfSuppliments'] != 'none', other = 0, inplace= True)

In [30]:
lencode = LabelEncoder()

In [31]:
data['Sex'] = lencode.fit_transform(data['Sex']) #

In [32]:
data['Fault'] = lencode.fit_transform(data['Fault']) #

In [33]:
data['Deductible'] = lencode.fit_transform(data['Deductible']) #

In [34]:
data['Year'] = lencode.fit_transform(data['Year'])

In [35]:
data['AccidentArea'] = lencode.fit_transform(data['AccidentArea'])

In [36]:
data['PoliceReportFiled'] = lencode.fit_transform(data['PoliceReportFiled'])

In [37]:
data['AgentType'] = lencode.fit_transform(data['AgentType'])

In [38]:
data['WitnessPresent'] = lencode.fit_transform(data['WitnessPresent'])

In [39]:
data = pd.get_dummies(data, columns=['Make','MaritalStatus', 'BasePolicy','PolicyType','VehicleCategory'])

In [40]:
month_encode = lencode.fit(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])

In [41]:
data['Month'] = month_encode.transform(data['Month'])

In [42]:
data['MonthClaimed'] = month_encode.transform(data['MonthClaimed'])

In [43]:
day_encode = lencode.fit(['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])

In [44]:
data['DayOfWeek'] = day_encode.transform(data['DayOfWeek'])

In [45]:
data['DayOfWeekClaimed'] = day_encode.transform(data['DayOfWeekClaimed'])

In [46]:
Vprice_encode =lencode.fit(['less than 20000','20000 to 29000', '30000 to 39000', '40000 to 59000', '60000 to 69000','more than 69000'])

In [47]:
data['VehiclePrice'] = Vprice_encode.transform(data['VehiclePrice'])

In [48]:
DPC_encode = lencode.fit(['8 to 15', '15 to 30', 'more than 30'])

In [49]:
data['Days_Policy_Claim'] = DPC_encode.transform(data['Days_Policy_Claim'])

In [50]:
DPA_encode = lencode.fit(['1 to 7', '8 to 15', '15 to 30', 'more than 30'])

In [51]:
data['Days_Policy_Accident'] = DPA_encode.transform(data['Days_Policy_Accident'])

In [52]:
PNC_encode = lencode.fit([0, 1, '2 to 4', 'more than 4'])

In [53]:
data['PastNumberOfClaims'] = PNC_encode.transform(data['PastNumberOfClaims'].astype(str))

In [54]:
AgeV_encode = lencode.fit(['new','2 years','3 years','4 years','5 years','6 years','7 years','more than 7'])

In [55]:
data['AgeOfVehicle'] = AgeV_encode.transform(data['AgeOfVehicle'])

In [56]:
NS_encode = lencode.fit([0, '1 to 2', '3 to 5', 'more than 5'])

In [57]:
data['NumberOfSuppliments'] = NS_encode.transform(data['NumberOfSuppliments'].astype(str))

In [58]:
ACC_encode = lencode.fit(['no change','1 year', '2 to 3 years', '4 to 8 years', 'under 6 months'])

In [59]:
data['AddressChange_Claim'] = ACC_encode.transform(data['AddressChange_Claim'])

In [60]:
NC_encode = lencode.fit(['1 vehicle', '2 vehicles', '3 to 4', '5 to 8', 'more than 8'])

In [61]:
data['NumberOfCars'] = NC_encode.transform(data['NumberOfCars'])

In [62]:
train_ref = data.iloc[:11553,:]

In [72]:
train_ref.columns

Index(['Month', 'WeekOfMonth', 'DayOfWeek', 'AccidentArea', 'DayOfWeekClaimed',
       'MonthClaimed', 'WeekOfMonthClaimed', 'Sex', 'Age', 'Fault',
       'VehiclePrice', 'FraudFound_P', 'RepNumber', 'Deductible',
       'DriverRating', 'Days_Policy_Accident', 'Days_Policy_Claim',
       'PastNumberOfClaims', 'AgeOfVehicle', 'PoliceReportFiled',
       'WitnessPresent', 'AgentType', 'NumberOfSuppliments',
       'AddressChange_Claim', 'NumberOfCars', 'Year', 'ClaimSize',
       'Make_Accura', 'Make_BMW', 'Make_Chevrolet', 'Make_Dodge',
       'Make_Ferrari', 'Make_Ford', 'Make_Honda', 'Make_Jaguar', 'Make_Lexus',
       'Make_Mazda', 'Make_Mecedes', 'Make_Mercury', 'Make_Nisson',
       'Make_Pontiac', 'Make_Porche', 'Make_Saab', 'Make_Saturn',
       'Make_Toyota', 'Make_VW', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'MaritalStatus_Widow',
       'BasePolicy_All Perils', 'BasePolicy_Collision', 'BasePolicy_Liability',
       'PolicyType_All Perils', 'PolicyType_Collision', 'PolicyType_Liability',
       'VehicleCategory_Sedan', 'VehicleCategory_Sport',
       'VehicleCategory_Utility'],
      dtype='object')

In [65]:
train_ref.head()

,Month,WeekOfMonth,DayOfWeek,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,Age,Fault,...,MaritalStatus_Widow,BasePolicy_All Perils,BasePolicy_Collision,BasePolicy_Liability,PolicyType_All Perils,PolicyType_Collision,PolicyType_Liability,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility
0,2,5,6,1,5,4,1,0,21.0,0,...,0,0,0,1,0,0,1,0,1,0
1,4,3,6,1,1,4,4,1,34.0,0,...,0,0,1,0,0,1,0,0,1,0
2,10,5,0,1,4,9,2,1,47.0,0,...,0,0,1,0,0,1,0,0,1,0
3,6,2,2,0,0,5,1,1,65.0,1,...,0,0,0,1,0,0,1,0,1,0
4,3,1,2,1,1,3,3,1,36.0,1,...,0,0,1,0,0,1,0,0,1,0

In [63]:
test_ref = data.iloc[11553:,:]

In [64]:
test_ref.drop('FraudFound_P', axis=1, inplace=True)

C:\Users\1180s\Documents\anaconda\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
y = train_ref['FraudFound_P']

In [60]:
X = train_ref.drop('FraudFound_P', axis=1)

In [61]:
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.25)